
*{
    margin:0;
    padding:0;
}
button{
    border:0;
    outline: none;
    cursor: pointer;
    z-index:1;
}
html{
    height:100%;
}
body{
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background:url('bg.png') no-repeat 50% 100% / 300px auto #E5E3DD;
}
main{
    position:relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:360px;
    height:80vh;
    margin:0 auto;
    text-align: center;     
}
section{
    padding:28px;
}
h1{
    font-weight:700
}
input{
    display:block;
    width:100%;
    height:60px;
    padding:16px;
    margin-bottom:20px;
    border-radius:30px;
    background:#F5F4F2;
    border:0;
    font-size:18px;
    color:#241C1C;
    outline: none;
    font-weight:600;
}
input[type='submit'],
input[type='button']{
    padding:0;
}
input::placeholder {
    opacity:.8;
    font-weight:400;
}
.btn{
    display:block;
    width:100%;
    height:60px;
    line-height:60px;
    border-radius:30px;
    background:#241C1C;
    color:#F5F4F2;
    font-size:18px;
    font-weight:700;
    text-decoration:none;
    cursor: pointer;
    margin-bottom:20px;
}
.btn.bg-bage{
    background:rgba(200, 196, 183, 0.72);
    color:#241C1C;
    font-size:18px;
    font-weight:400;
}
.btn-text{
    display:inline-block;
    height:43px;
    line-height:43px;
    padding:0 20px;
    font-size:16px;
    font-weight:300;
    color:#241C1C;
    text-decoration: none;
}
.fts20{
    font-size:20px;
}
.board-list{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    gap:8px;
    background:#F5F4F2;
    border-radius:30px;
    padding:20px;
    margin-bottom:20px;
}
.board-title{
    font-size:16px;
    font-weight:700;
    color:#000;
}
.board-content{
    font-size:14px;
    color:#444;
}
.board-cate{
    color:rgb(85, 97, 106);
}
.board-date{
    font-size:12px;
}
.sub{
    justify-content: flex-start;
    height:90vh;
}
.flex-box{
    display:flex;
    justify-content: space-between;
    width:100%;
    font-size:12px;
    color:#928c8c;
}
.user-area{
    position:absolute;
    top:-20px;
    right:0;
    padding:5px 10px;
    border-radius:10px;
    background:none;
    opacity: .5;
}
.btn-logout{
    position: absolute;
    left: 0;
    top: -20px;
    width:24px;
    height:24px;
    background: url('btn_back.png') no-repeat 0 0 / 24px auto;
}

